<nav>
    <div class="nav-search-account">
      <div class="logo">
        <div class="logo-container">
          <img src="assets/logo-branca.png" alt="Logo">
        </div>
      </div>
      <div class="cep">
        <div class="cep-img">
          <img src="assets/cep.png" alt="Logo">
        </div>
        <p>Enviar para <br> Londrina 86036640</p>
      </div>
      <div class="search-bar">
        <div class="select-wrapper">
          <select>
            <option>Todos</option>
          </select>
          <div class="custom-arrow">▼</div>
        </div>
        <input type="text" placeholder="Pesquisa Amazon.com.br">
        <button>
          <img src="assets/lupa.png" alt="Search">
        </button>
      </div>
      <div class="account">
        <button class="custom-button">
          Olá, Eron<br>
          <strong>Contas e listas</strong> 
          <span class="arrow">&#9660;</span>
        </button>
      </div>
      <div class="requests">
        <button class="custom-button">
          Devoluções<br>
          <strong>e Pedidos</strong> 
        </button>
      </div>
      <div class="cart">
        <div class="cart-img">
          <img src="assets/cart.png" alt="Logo">
          <span class="cart-count"><strong>0</strong></span> <!-- Contador -->
        </div>
        <button class="custom-button-cart"><strong>Carrinho</strong></button>
      </div>
    </div>
  
    <div class="nav-container">
      <div class="nav-menu">
        <div class="menu">
          <img src="assets/menu.png" alt="Logo">
          <p>Todos</p>
        </div>
        <div class="menu-links">
          <a routerLink="/home">Venda na Amazon</a>
          <a routerLink="/home">Prime</a>
          <a routerLink="/home">Ofertas do Dia</a>
          <a routerLink="/home">eBooks Kindle</a>
          <a routerLink="/home">Comprar novamente</a>
          <a routerLink="/home">Histórico de navegação</a>
          <a routerLink="/home">Livros</a>
          <a routerLink="/home">Atendimento ao Cliente</a>
          <a routerLink="/home">Mais Vendidos</a>
          <a routerLink="/home">Eletrônicos</a>
          <a routerLink="/home">Games</a>
        </div>
      </div>
      <div class="call-prime-video">
        <span class="bold-part"><strong>Guerra Sem Regras</strong> - Assista agora</span> 
      </div>
    </div>
</nav>
  
  