.historic {
  position: relative;
  width: 100%;
  margin-top: 14px;
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: #fff;

  .lines {
    border-top: 1px solid rgb(224, 224, 224);
    border-bottom: 1px solid rgb(224, 224, 224);
    border-right: 1px solid rgb(224, 224, 224);
    border-left: none;
    padding: 30px;
    padding-bottom: 70px;
  }

  h2 {
    font-size: 15px;
    padding-left: 100px;
  }

  .carousel-container {
    position: relative;
    overflow: hidden;
    width: 80%;
    margin: 0 auto;
    display: flex;
    align-items: center;
  }

  .items {
    display: flex;
    overflow: hidden; /* Esconde itens que não cabem no contêiner */
  }

  .item {
    min-width: 200px;
    margin-right: 10px; /* Espaço entre itens */
    border-radius: 8px;
    text-align: left;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .item img {
    max-width: 100%;
    margin-bottom: 5px;
  }

  .item-details {
    width: 100%;
    text-align: left;

    .title {
      font-size: 12px;
      font-weight: bold;
      margin-bottom: 5px;
      color: #007195;
    }

    .star-rating {
      display: flex;
      align-items: center;

      .full-star, .half-star {
        color: #ffa500;
        font-size: 20px;
        margin-bottom: 6px;
      }

      .reviews {
        font-size: 12px;
        color: #007195;
        margin-left: 5px;
      }
    }

    .price {
      font-size: 18px;
      color: #000000;
      margin-top: -1px;
    }

    .price sup {
      font-size: 9px;
    }

    .shipping {
      margin-top: -10px;
      font-size: 12px;
      color: #000000;
    }
  }

  .arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 1.3rem;
    background: none;
    border: 1px solid #6d6d6d;
    border-radius: 0.50rem;
    cursor: pointer;
    color: #6d6d6d;
    z-index: 1000;
    padding-left: 13px;
    padding-right: 13px;
    padding-top: 2px;
    padding-bottom: 6px;
  }

  .arrow.left {
    left: 100px; /* Aumentar esse valor para mover a seta mais para a esquerda */
  }

  .arrow.right {
    right: 100px; /* Aumentar esse valor para mover a seta mais para a direita */
  }

  .arrow:hover {
    color: #007195;
  }
}
