<div class="sessions">
  <div class="session-one">

    <div class="card">
      <h2>Continue de onde parou</h2>
      <div class="container-s1-one">
        <a>
          <img src="assets/Echo1.jpg" alt="Banner 1">
          <span>Echo Dot 5ª Geração | ...</span>
        </a>
        <a>
          <img src="assets/Echo2.jpg" alt="Banner 1">
          <span>Echo Pop | Smart speak</span>
        </a>
        <a>
          <img src="assets/Echo3.jpg" alt="Banner 1">
          <span>Novo Echo Spot com AI...</span>
        </a>
        <a>
          <img src="assets/Echo4.jpg" alt="Banner 1">
          <span>Echo Show 3ª Geração</span>
        </a>
      </div>
      <p class="link">Ver Mais</p>
    </div>
  
    <div class="card">
      <h2>Ofertas do Dia: Até 40% de desconto</h2>
      <div class="container-offers">
        <img src="assets/ofertas.jpg" alt="Banner 1">
      </div>
      <p class="link">Ver Ofertas do Dia</p>
    </div>
  
    <div class="card">
      <h2>Conheça os E-readers Kindle</h2>
      <div class="container-s2-one">
        <a href="">
          <img src="assets/Kindle1.jpg" alt="Banner 1">
          <span>Kindle 11ª Geração</span>
        </a>
        <a href="">
          <img src="assets/Kindle2.jpg" alt="Banner 1">
          <span>Kindle Paperwhite</span>
        </a>
        <a>
          <img src="assets/Kindle3.jpg" alt="Banner 1">
          <span>Kindle Oasis</span>
        </a>
        <a>
          <img src="assets/Kindle4.jpg" alt="Banner 1">
          <span>Acessórios</span>
        </a>
      </div>
      <p class="link">Ver mais Dispositivos Kindle</p>
    </div>
  
    <div class="card">
      <h2>Amazon Prime [Anuncio]</h2>
    </div>
  </div>
  
  <div class="session-two">
      <div class="card-prime">
        <div class="container-prime"> 
          <a href="#">
            <div class="img-wrapper">
              <img [src]="currentCall.image" alt="Banner Prime">
              <div class="overlay">
                <h2>{{ currentCall.title }}</h2>
                <p>{{ currentCall.description }}</p>
                <span>{{ currentCall.cta }}</span>
              </div>
            </div>
          </a>
        </div>
      </div>
    
    <div class="card">
      <h2>Veja Echo e Fire TV com Alexa</h2>
      <div class="container-s2-one">
        <a>
          <img src="assets/Miniecho1.jpg" alt="Banner 1">
          <span>Echo Pop</span>
        </a>
        <a>
          <img src="assets/Miniecho2.jpg" alt="Banner 1">
          <span>Echo Dot</span>
        </a>
        <a>
          <img src="assets/Firetv1.jpg" alt="Banner 1">
          <span>Fire TV Stick Lite</span>
        </a>
        <a>
          <img src="assets/Firetv2.jpg" alt="Banner 1">
          <span>Fire TV Stick</span>
        </a>
      </div>
      <p class="link">Confira tudo em Dispositivos Amazon</p>     
    </div>
  
    <div class="card">
      <h2>Ofertas do Dia: Até 40% de desconto</h2>
      <div class="container-missions">
        <img src="assets/missoes.jpg" alt="Banner 1">
      </div>
      <p class="link">Confira as missões disponíveis</p>
    </div>
  
  </div>
</div>

