.categories {
  width: 79%;
  margin: 0px auto; /* Centraliza a seção na página */
  box-sizing: border-box;
  justify-content: center;
  position: relative;
  background-color: white;
  padding: 20px;
}

.container-categorie {
  width: 100%;
  margin: 0px auto; /* Centraliza a seção na página */
  box-sizing: border-box;
  justify-content: center;
  overflow: hidden;
  margin-bottom: 10px;
}

.carrossel-wrapper {
  position: relative;
 
}

.carrossel-carrossel-one {
  display: flex;
  align-items: center;
  position: relative;
  width: 100%;
}

.carrossel-carrossel-two {
  display: flex;
  align-items: center;
  position: relative;
  width: 100%;
}

.carrossel-inner {
  display: flex;
  transition: transform 0.3s ease;
}

.item {
  flex: 0 0 14%; /* Exibe 7 itens visíveis de cada vez, com uma margem */
  text-align: center;
}

.item img {
  width: 100%; /* Ajusta o tamanho das imagens */
}

.item span {
  display: block;
  margin-top: 10px;
  font-size: 14px;
  color: #333;
}

.prev, .next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  padding: 16px;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  cursor: pointer;
  z-index: 1000;
}

.prev {
  left: 0;
}

.next {
  right: 0;
}