/* app.component.css */

nav {
  width: 100%; /* Ocupa toda a largura da página */
  align-items: center; /* Alinha itens verticalmente no centro */
  margin: 0 0;
}

.nav-search-account {
  width: 100%; /* Ocupa toda a largura da página */
  height: 63px;
  background-color: #131921; /* Cor de fundo do menu */
  display: flex; /* Usar flexbox */
}

.logo img {
  margin-top: -55px;
  height: 180px;
  padding-left: 5px;
}

.cep {
  display: flex;
}
.cep img {
  margin-left: 3px;
  margin-top: 26px;
  height: 17px;
}

.cep p {
  margin-left: 5px;
  color: #ffffff; /* Cor do texto */
  font-size: 14px; /* Tamanho da fonte */
}

.search-bar {
  display: flex;
  align-items: center;
  background-color: white;
  border-radius: 5px;
  padding: 5px;
  margin-top: 10px;
  margin-left: 20px;
  width: 1150px; /* Define a largura fixa */
  height: 30px;
}

.select-wrapper {
  position: relative;
  display: flex;
  align-items: center;
  margin-left: -5px;
  margin-right: 5px; /* Espaço entre o select e o input */
}

.search-bar select {
  border: none;
  background-color: #e6e6e6;
  border-radius: 5px;
  font-size: 12px;
  padding: 12.1px 16px;
  color: #5a5656;
  appearance: none; /* Remove a aparência padrão do select */
  -webkit-appearance: none; /* Remove a aparência padrão do select no Safari */
  -moz-appearance: none; /* Remove a aparência padrão do select no Firefox */
}

.custom-arrow {
  position: absolute;
  left: 50px;
  pointer-events: none; /* A seta não interfere nos cliques */
  font-size: 8px; /* Ajusta o tamanho da seta */
  color: #5a5656; /* Cor da seta */
}

.search-bar input {
  border: none;
  width: 100%; /* Faz o input ocupar o restante da largura disponível */
  font-size: 13px;
  padding: 5px;
  outline: none;
  font-weight: bold;
}

.search-bar button {
  background-color: #febd69;
  border: none;
  border-radius: 5px;
  margin-right: -5.1px;
  padding: 5.5px 10px;
  cursor: pointer;
}

.search-bar button img {
  height: 26px;
}

.nav-container {
  width: 100%;
  height: 38px;
  display: flex; /* Usar flexbox */
  align-items: center;
  justify-content: space-between; /* Espaça logo e menu */
  background-color: #232f3e;
}

.nav-menu {
  display: flex;
  align-items: center; /* Alinha os itens no centro verticalmente */
  padding-left: 20px;
}

.menu {
  display: flex;
  align-items: center; /* Alinha os itens no centro verticalmente */
}

.menu img {
  height: 24px;
  margin-right: 4px;
}

.menu p {
  font-size: 14px;
  font-weight: bold;
  color: #ffffff;
  margin: 0; /* Remove a margem padrão */
}

.menu-links {
  display: flex;
  align-items: center; /* Alinha os links no centro verticalmente */
}

.menu-links a {
  margin: 0 14px; /* Espaçamento entre os itens do menu */
  text-decoration: none; /* Remove o sublinhado dos links */
  color: #ffffff; /* Cor do texto */
  font-size: 14px; /* Tamanho da fonte */
}

.banners-section {
  width: 80%; /* Largura máxima da seção de banners */
  margin: 0px auto; /* Centraliza a seção na página */
  justify-content: center;
}

.banner {
  width: 100%;
}

.banner img {
  width: 100%; /* Faz o banner ocupar toda a largura do contêiner */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Adiciona sombra aos banners */
}

.banner::after {
  content: ""; /* Necessário para criar o pseudo-elemento */
  position: absolute; /* Posiciona o pseudo-elemento sobre a imagem */
  margin-top: -102px;
  left: 0;
  width: 60%;
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 100%); /* Gradiente que vai de transparente para branco opaco */
  pointer-events: none; /* Garante que o pseudo-elemento não interfira na interação com a imagem */
}

.session-one{
  margin-top: -365px;
  margin-bottom: 15px;
  width: 100%;
  display: flex;
}

.card {
  width: 350px;
  height: 400px;
  margin: 0 auto; /* Centraliza a seção na página */
  background-color: white;
  padding: 5px; /* Adiciona algum espaço interno para melhor visualização */
  overflow: hidden; /* Garante que o conteúdo não vaze do card */
}

.card h2 {
  font-size: 22px;
  font-weight: bold;
  margin-left: 10px;
  color: #1c334b
}

.container-offers {
  padding: 5px;
  margin-top: -10px;
  margin-bottom: 15px;
}

.container-offers img {
  width: 95%;
  padding-left: 10px;
  margin-bottom: 9px;
}

.container-missions {
  padding: 5px;
  margin-top: -10px;
  margin-bottom: 15px;
}

.container-missions img {
  width: 95%;
  padding-left: 10px;
  margin-bottom: 9px;
}

.container-s1-one {
  margin-top: -10px;
  margin-bottom: 18px;
  padding: 5px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 5px; /* Espaçamento entre as imagens */
}

.container-s1-one span {
  text-align: left; /* Alinha o texto da descrição à esquerda */
  font-size: 13px; /* Ajusta o tamanho da fonte da descrição */
  text-decoration: none; /* Remove a sublinhado do texto da descrição */
}

.container-s1-one a {
  text-decoration: none; /* Remove a sublinhado do link */
  display: flex;
  text-align: left;
  flex-direction: column;
}

.container-s1-one img {
  width: 70%; /* Garante que as imagens ocupem a largura completa da célula */
  height: auto; /* Mantém a proporção das imagens */
  margin-bottom: 3px;
}

.container-s1-one a img {
  align-self: center; /* Centraliza a imagem verticalmente na célula */
}

.container-s1-one a span {
  margin-top: 5px; /* Espaçamento entre a imagem e o texto */
  height: 1.5em; /* Altura mínima para as descrições */
  display: flex;
  align-items: center;
  justify-content: center;
}

.container-s2-one {
  margin-top: -10px;
  padding: 10px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 5px; /* Espaçamento entre as imagens */
  height: auto;
}

.container-s2-one span {
  text-align: left; /* Alinha o texto da descrição à esquerda */
  font-size: 13px; /* Ajusta o tamanho da fonte da descrição */
  text-decoration: none; /* Remove a sublinhado do texto da descrição */
  margin-bottom: 14px;
}

.container-s2-one a {
  text-decoration: none; /* Remove a sublinhado do link */
  color: inherit; /* Mantém a cor do texto */
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: flex-start; /* Alinha o conteúdo à esquerda */
}

.container-s2-one img {
  width: 100%; /* Garante que as imagens ocupem a largura completa da célula */
  height: auto; /* Mantém a proporção das imagens */
  margin-bottom: 3px;
}


.container-s2-one a img {
  align-self: center; /* Centraliza a imagem verticalmente na célula */
}

.container-s2-one a span {
  margin-top: 5px; /* Espaçamento entre a imagem e o texto */
  height: 1.5em; /* Altura mínima para as descrições */
  display: flex;
  align-items: center;
  justify-content: center;
}

.link {
  font-size: 12px;
  font-weight: bold;
  color: #4684c7; /* Cor do texto */
  text-align: left; /* Centraliza o texto horizontalmente */
  margin-left: 15px;
  cursor: pointer; /* Indica que o texto é clicável */
}



.link:hover {
  text-decoration: none; /* Efeito ao passar o mouse */
}



.session-two {
  width: 100%;
  display: flex;
}

.card-prime {
  width: 740px;
  height: auto;
  padding-left: 10px;
  padding-right: 10px;
  overflow: hidden; /* Garante que o conteúdo não vaze do card */
}

.container-prime {
  position: relative; /* Define o contexto para o posicionamento absoluto */
}

.img-wrapper {
  position: relative;
}

.img-wrapper img {
  width: 100%; /* Garante que a imagem ocupe toda a largura disponível */
  height: auto; /* Mantém a proporção da imagem */
}

.img-wrapper span {
  position: absolute;
  bottom: 25px; /* Coloca o texto a 10px da margem inferior da imagem */
  text-align: left; /* Centraliza o texto horizontalmente */
  color: white; /* Cor do texto */
  font-size: 14px;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  flex-direction: column;
  justify-content: space-between;
  color: white;
  padding: 20px;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.0) 35%),
  linear-gradient(to top, rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.0) 35%);
}

.overlay h2 {
  font-size: 22px;
  margin: 0;
}

.overlay p {
  margin-top: 5px;
}

.categories {
  background-color: white;
  width: 80%; /* Largura máxima da seção de banners */
  margin: 0px auto; /* Centraliza a seção na página */
  padding: 20px;
  box-sizing: border-box;
}

.carrossel-wrapper {
  position: relative;
  overflow: hidden;
}

.carrossel {
  display: flex;
  align-items: center;
  position: relative;
  width: 100%;
}

.carrossel-inner {
  display: flex;
  transition: transform 0.3s ease;
}

.item {
  flex: 0 0 14%; /* Exibe 7 itens visíveis de cada vez, com uma margem */
  text-align: center;
}

.item img {
  width: 100%; /* Ajusta o tamanho das imagens */
}

.item span {
  display: block;
  margin-top: 10px;
  font-size: 14px;
  color: #333;
}

.prev, .next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  padding: 16px;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  cursor: pointer;
  z-index: 1000;
}

.prev {
  left: 0;
}

.next {
  right: 0;
}