app-banners {
    position: relative;
    z-index: 1; /* Define uma camada de empilhamento menor */
  }
  
app-sections {
  position: relative;
  z-index: 2; /* Define uma camada de empilhamento maior para ficar acima */
}
  