body {
    margin: 0 0;
    font-family: 'Inter', sans-serif;
    background-color: #e3e6e6;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Inter', sans-serif;
}

p {
    font-family: 'Inter', sans-serif;
}