.rodape {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 50px;
    background-color: #37475a;
    text-align: center;
    overflow: hidden;
    cursor: pointer; /* Indica que é clicável */
    text-decoration: none; /* Remove sublinhado padrão de links */
}

.back-to-top {
    color: #ffffff;
    font-size: 14px;
    text-decoration: none; /* Remove o sublinhado do texto */
}

.back-to-top:hover {
    text-decoration: none;
}

/* Estilo do overlay */
.rodape::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.1); /* Menos intensidade na cor */
    opacity: 0;
    transition: opacity 0.3s ease;
    pointer-events: none;
}

.rodape:hover::before,
.back-to-top:hover ~ .rodape::before {
    opacity: 1;
}
/* Estilos para o resto do footer */
.footer {
    width: 100%;
    background-color: #232f3e;
    padding: 2rem 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.footer-columns {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
}

.footer-column {
    margin: 0 4rem;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer-column h4 {
    margin-bottom: 1rem;
    color: white;
    text-align: left;
    width: 100%;
}

.footer-column ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.footer-column ul li {
    font-size: 14px;
    margin-bottom: 0.7rem;
    color: white;
    text-align: left;
}
