<a href="#top" class="rodape">
  <span class="back-to-top">voltar ao topo</span>
</a>

<div class="footer">
    <div class="footer-columns">
      <div class="footer-column">
        <h4>Conheça-nos</h4>
        <ul>
          <li>Sobre a Amazon</li>
          <li>Informações corporativas</li>
          <li>Carreiras</li>
          <li>Comunicados à imprensa</li>
          <li>Comunidade</li>
          <li>Acessibilidade</li>
          <li>Amazon Science</li>
        </ul>
      </div>
      <div class="footer-column">
        <h4>Ganhe dinheiro conosco</h4>
        <ul>
          <li>Venda na Amazon</li>
          <li>Proteja e construa a sua marca</li>
          <li>Forneça para a Amazon</li>
          <li>Publique seus livros</li>
          <li>Seja um associado</li>
          <li>Anuncie seus produtos</li>
        </ul>
      </div>
      <div class="footer-column">
        <h4>Pagamento</h4>
        <ul>
          <li>Meios de Pagamento</li>
          <li>Compre com Pontos</li>
          <li>Cartão de Crédito</li>
        </ul>
      </div>
      <div class="footer-column">
        <h4>Deixe-nos ajudar você</h4>
        <ul>
          <li>Sua conta</li>
          <li>Frete e prazo de entrega</li>
          <li>Devoluções e reembolsos</li>
          <li>Gerencie seu conteúdo e dispositivos</li>
          <li>Recalls e alertas de segurança do produto</li>
          <li>Ajuda</li>
        </ul>
      </div>
    </div>
  </div>
  